<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% include mathjax.html %}
  </head>

  <body>
    {% include header.html %}

    {{ content }}
  </body>
  
  <hr>

<footer class="site-footer h-card">
    <div class="footer-col">
      <p>{{ site.description }}</p>
    </div>
</footer>
</html>
